@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  width: 98%;
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
}

.header-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  height: auto;
  background-color: #f5f5f5;
  padding: 1rem;
  object-fit: contain;
  min-width: fit-content;
  flex-wrap: wrap;
}

.header-top .header-right {
  display: flex;
  gap: 2rem;
  text-align: center;
  font-size: 14px;
}


.btn-group {
  display: flex;
  text-align: center;
  gap: 0.3rem;
  cursor: pointer;
  transition: all;
}

.header-mid {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  min-width: fit-content;
  flex-wrap: wrap;
}

.header-mid .input-group {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  margin-top: auto;
  margin-bottom: auto;
}

.header-mid .input-group .input-search {
  display: flex;
  color: #555;
  height: 40px;
  width: 500px;
  border-radius: 50px 0 0 50px;
  text-align: center;
  justify-content: center;
}

.header-mid .input-group {
  display: flex;
  position: relative;
  text-align: center;
  border-radius: 20px 20px 20px 20px;
}

.icons-search {
  position: relative;
  left: 28px;
  color: gray;
}

.input-group ::placeholder {
  color: #555;
  text-align: justify;
  padding: 2.5rem;
  font-size: 1rem;
}

.input-group .btn-search {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 10vh;
  height: 40px;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  transition: all;
  font-size: 1rem;
  outline: auto;
}

.input-group .btn-search :hover {
  background-color: red;
}

.btn-group-bottom {
  display: flex;
  gap: 1rem;
  margin-top: auto;
  margin-bottom: auto;
}
@media only screen and (max-width: 375px) {

  .header-top{
    width: 100%;
    margin: auto;
    background-color: white;
  }
  .btn-group-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: auto;
  }

  .input-group {
   width: 300px;
   margin: auto;
  }

  .header-right {
    margin-top: 1rem;
  }

  .header-mid {
    display: flex;
    justify-content: start;
   
  }

  .logo {
    margin: auto;
  }

  .header-bottom .navbar {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .btn-group {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
@media only screen and (max-width: 414px) {
  .btn-group-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    margin: auto;
  }

  .input-group {
   width: 300px;
   margin: auto;
  }

  .header-right {
    margin-top: 1rem;
  }

  .header-mid {
    display: flex;
    justify-content: start;
   
  }

  .logo {
    margin: auto;
  }

  .header-bottom .navbar {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .btn-group {
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}

.btn-group-bottom .group-login,
.group-favori,
.group-basket {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  gap: 0.2;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 1rem;
  text-align: center;
  transition: 0.2s ease-out;

  cursor: pointer;
}

.navbar {
  display: flex;
  gap: 4rem;
  color: #333;
  font-size: 16px;
  padding-left: 8px;
  font-weight: 600;
  letter-spacing: 0.1rem;
}

.navbar a {
  list-style-type: none;
  text-decoration: none;
}

.navbar :last-child {
  color: coral;
}

.carousel {
  width: 100%;
  height: 50vh;
  position: relative;
}
@media (max-width: 768px) {
  .carousel {
    width: 100%;
    height: 100px;
  }

  .carousel button {
    font-size: 1.5rem;
    background-color: black;
    color: white;
  }

  .images-banner {
    display: none;
  }

.footer-top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}
.container-data #products-container{
 flex-wrap: wrap;
}
}
@media (max-width: 414px) {
  .carousel {
    width: 100%;
    height: 100px;
  }

  .carousel button {
    font-size: 1.5rem;
    background-color: black;
    color: white;
  }

  .images-banner {
    display: none;
  }

.footer-top{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
}
.container-data #products-container{
 flex-wrap: wrap;
}
}

.carousel>ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

.images-banner img {
  width: 100%;
  height: 50vh;
  margin-top: 1rem;
  position: relative;
}

.wrapper {
  width: 60%;
  margin: auto;
  overflow: hidden;
}

.wrapper slider {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.slider img {
  height: 80px;
  object-fit: cover;
  width: 80px;
  margin-left: 2rem;
}

.wrapper i {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  position: relative;
}

.wrapper i:first-child {
  left: -10px;
}

.wrapper i:last-child {
  right: -50px;
}

.card-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  min-width: fit-content;
}

.card-content img {
  width: 600px;
  height: 250px;
}

.card-section {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}

.card-mini-content {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  width: 60%;
  height: auto;
  margin: auto;
  margin-top: 2rem;
  color: #337ab7;
  background-color: #eff3ff;
  min-width: fit-content;
}

.card-mini-content i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.card-mini-content p {
  font-size: 1rem;
  margin-top: 1.5rem;
  font-weight: 600;
  width: 80%;
  margin: auto;
}

.card-mini-content hr {
  width: 80%;
  margin: auto;
  margin-top: 1rem;
  opacity: 0.5;
}

.card-mini-content p:last-child {
  font-size: 0.8rem;
  margin-top: 1.5rem;
  font-weight: 600;
  width: 80%;
  margin: auto;
}

.container-data {
  width: 90%;
  margin: auto;
  overflow-x: hidden;
}

#products-container {

  display: flex;
  flex-direction: row;
  min-width: fit-content;
  position: relative;
  overflow: hidden;
  margin: auto;
}

#products-container img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 60%;
  margin: auto;
}

#products-container p {
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  margin: auto;
  margin-top: 1rem;
}

#products-container p:last-child {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
  color: red;
}


.slider {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-top: 2rem;
}

.footer-top hr {
  width: 100%;
  margin: auto;
  margin-top: 1rem;
  opacity: 0.2;
}

.footer-top img {
  width: auto;
  height: 40px;
  margin-left: 1rem;
  margin-top: 1rem;
}

.footer-bottom {
  display: flex;
  justify-content: center;
  gap: 4rem;
  height: auto;
  background-color: #fafafa;
  width: 100%;
  padding: 4rem;
  margin-top: 1rem;
  min-width: fit-content;
}

.footer-section1,
.footer-section2,
.footer-section3,
.footer-section4 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


#products-container .productBox{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 100%;
}

#products-container .productBox img{
  width: 250px;
  height: 250px;
  object-fit: contain;
}
#products-container .productBox h4{
 font-size: 18px;
 color: #337ab7;
 text-align: center;
 margin: auto;
 width: 200px;
 text-align: center;
 margin-top: 1rem;
}

.btn-pagination, #prev-btn, #next-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 0.5rem 1rem;
  color: black;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  transition: all;
}

.btn-pagination, #prev-btn{
  display: flex;
  margin-bottom: 5%;
  position: relative;
}
.btn-pagination, #next-btn{
  display: flex;
  margin-bottom: 5%;
  position: relative;
  
}
